@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

body {
  font-family: monospace, Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  overflow: hidden;
}

.background-image {
  background-image: url("/backgroundWallpaper.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.avatar {
  position: relative;
  top: -10vh;
  left: calc(50% - 10vh);
  background-image: url("/pfp.jpg");
  background-size: cover;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  object-fit: cover;
}
/* 
.app {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "profile profile window window window";
} */

.click-me {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
